In [1]:
from data import *
data = Data(datetime_column='datetime')
data.isolate_city()
data.isolate_portion()
preprocessed_data = data.prepare_for_nixtla()
preprocessed_data.head()

        y            datetime  unique_id
0  293.07 2017-06-16 09:00:00          0
1  292.23 2017-06-16 10:00:00          0
2  291.61 2017-06-16 11:00:00          0
3  290.98 2017-06-16 12:00:00          0
4  290.65 2017-06-16 13:00:00          0

In [2]:
import os
import pandas as pd
from nixtla import NixtlaClient


NIXTLA_API_KEY = os.environ['NIXTLA_API_KEY']
nixtla_client = NixtlaClient(api_key=NIXTLA_API_KEY)

KeyError: 'NIXTLA_API_KEY'

In [ ]:
data.processed_data

       Los Angeles            datetime
0              NaN 2012-10-01 12:00:00
1       291.870000 2012-10-01 13:00:00
2       291.868186 2012-10-01 14:00:00
3       291.862844 2012-10-01 15:00:00
4       291.857503 2012-10-01 16:00:00
...            ...                 ...
45248   293.550000 2017-11-29 20:00:00
45249   295.680000 2017-11-29 21:00:00
45250   295.960000 2017-11-29 22:00:00
45251   295.650000 2017-11-29 23:00:00
45252   294.930000 2017-11-30 00:00:00

[45253 rows x 2 columns]